In [1]:
import pandas as pd

In [3]:
df = pd.read_table('/projects/ps-yeolab3/bay001/maps/cdsends/all_events/ips/204_01_RBFOX2.merged.r2.norm.neg.bwdensity_matrix.csv',sep=',',index_col=0)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,591,592,593,594,595,596,597,598,599,600
0,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,...,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893
1,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,...,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893
2,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,...,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893
3,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,...,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893,0.233893
4,0.935574,0.935574,0.935574,0.935574,0.935574,0.935574,0.935574,0.935574,0.935574,0.935574,...,0.467787,0.467787,0.467787,0.467787,0.467787,0.467787,0.701680,0.701680,0.701680,0.701680

In [5]:
dfi = pd.read_table('/projects/ps-yeolab3/bay001/maps/cdsends/all_events/inputs/RBFOX2-204-INPUT_S2_R1.unassigned.adapterTrim.round2.rmRep.rmDup.sorted.r2.norm.neg.bwdensity_matrix.csv',sep=',',index_col=0)
dfi.head()

,0,1,2,3,4,5,6,7,8,9,...,591,592,593,594,595,596,597,598,599,600
0,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,...,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555
1,0.531101,0.531101,0.531101,0.531101,0.531101,0.531101,0.531101,0.531101,0.531101,0.531101,...,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555
2,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,...,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555
3,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,...,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555
4,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,0.265550,...,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555,0.26555

In [8]:
pd.DataFrame(df.mean() - dfi.mean()).T

,0,1,2,3,4,5,6,7,8,9,...,591,592,593,594,595,596,597,598,599,600
0,0.038159,0.03757,0.036893,0.042203,0.041117,0.041701,0.041834,0.044014,0.043404,0.046343,...,0.029799,0.032272,0.031163,0.034634,0.033442,0.035576,0.035081,0.034193,0.033451,0.032327